
<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.input :current_status %>
    <%= f.input :current_status_at %>
    <%= f.input :percent_complete %>
    <%= f.input :current_priority %>
    <%= f.input :current_priority_at %>
    <%= f.input :due_on %>
    <%= f.input :projected_hours %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
