<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @item.number %>
</p>

<p>
  <strong>Current status:</strong>
  <%= @item.current_status %>
</p>

<p>
  <strong>Current status at:</strong>
  <%= @item.current_status_at %>
</p>

<p>
  <strong>Percent complete:</strong>
  <%= @item.percent_complete %>
</p>

<p>
  <strong>Current priority:</strong>
  <%= @item.current_priority %>
</p>

<p>
  <strong>Current priority at:</strong>
  <%= @item.current_priority_at %>
</p>

<p>
  <strong>Due on:</strong>
  <%= @item.due_on %>
</p>

<p>
  <strong>Projected hours:</strong>
  <%= @item.projected_hours %>
</p>

<%= link_to 'Edit', edit_projects_item_path(@item) %> |
<%= link_to 'Back', projects_items_path %>
