<p id="notice"><%= notice %></p>

<h1>Groov Bake Plated Loads</h1>

<table>
  <thead>
    <tr>
      <th>Load</th>
      <th>AS400 shop order</th>
      <th>Number</th>
      <th>Department</th>
      <th>Out of plating at</th>
      <th>Bake within</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groov_bake_plated_loads.each do |groov_bake_plated_load| %>
      <tr>
        <td><%= groov_bake_plated_load.load_id %></td>
        <td><%= groov_bake_plated_load.as400_shop_order_id %></td>
        <td><%= groov_bake_plated_load.number %></td>
        <td><%= groov_bake_plated_load.department %></td>
        <td><%= groov_bake_plated_load.out_of_plating_at %></td>
        <td><%= groov_bake_plated_load.bake_within %></td>
        <td><%= link_to 'Show', groov_bake_plated_load %></td>
        <td><%= link_to 'Edit', edit_groov_bake_plated_load_path(groov_bake_plated_load) %></td>
        <td><%= link_to 'Destroy', groov_bake_plated_load, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groov Bake Plated Load', new_groov_bake_plated_load_path %>
