<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @projects_system.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @projects_system.abbreviation %>
</p>

<%= link_to 'Edit', edit_projects_system_path(@projects_system) %> |
<%= link_to 'Back', projects_systems_path %>
