
<%= simple_form_for(@projects_category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :system %>
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :last_number_used %>
    <%= f.input :comment_sections %>
    <%= f.input :use_priorities %>
    <%= f.input :use_tasks %>
    <%= f.input :use_time_tracking %>
    <%= f.input :use_reviews %>
    <%= f.input :use_percent_complete %>
    <%= f.input :allow_children %>
    <%= f.input :allow_requests %>
    <%= f.input :send_feedback %>
    <%= f.input :use_due_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
