<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @calibration.device_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @calibration.user_id %>
</p>

<p>
  <strong>Reason code:</strong>
  <%= @calibration.reason_code_id %>
</p>

<p>
  <strong>Calibrated on:</strong>
  <%= @calibration.calibrated_on %>
</p>

<p>
  <strong>Calibration successful:</strong>
  <%= @calibration.calibration_successful %>
</p>

<%= link_to 'Edit', edit_quality_calibration_calibration_path(@calibration) %> |
<%= link_to 'Back', quality_calibration_calibrations_path %>
