<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body style="color: #343a40;
               font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
               font-size: 1rem;
               font-weight: 400;">

    <%= content_tag :h4, style: "font-weight: 500; line-height: 1.2; margin: 1rem 0 0; font-size: 1.5rem;" do -%>
      <%= @log.log_type %>
    <% end -%>

    <%= content_tag :div, style: "margin: 1rem 0 0; background-color: #eeeeee; border: 1px solid #dddddd; padding: 0.5rem;" do -%>
      <%= yield %>
    <% end -%>

    <%= content_tag :p, style: "margin: 1rem 0 0; line-height: 1.2; font-size: 0.85rem; color: #6c757d; font-style: italic;" do -%>
      Controller: <%= @log.controller_name %>
    <% end -%>

  </body>

</html>