
<%= simple_form_for(@opto_post_dip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :post_dip_at %>
    <%= f.input :vat %>
    <%= f.input :description %>
    <%= f.association :shop_order %>
    <%= f.input :load %>
    <%= f.input :dip_seconds %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
