<p id="notice"><%= notice %></p>

<h1>Quality Salt Spray Opto Post Dips</h1>

<table>
  <thead>
    <tr>
      <th>Post dip at</th>
      <th>Vat</th>
      <th>Description</th>
      <th>Shop order</th>
      <th>Load</th>
      <th>Dip seconds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opto_post_dips.each do |quality_salt_spray_opto_post_dip| %>
      <tr>
        <td><%= quality_salt_spray_opto_post_dip.post_dip_at %></td>
        <td><%= quality_salt_spray_opto_post_dip.vat %></td>
        <td><%= quality_salt_spray_opto_post_dip.description %></td>
        <td><%= quality_salt_spray_opto_post_dip.shop_order_id %></td>
        <td><%= quality_salt_spray_opto_post_dip.load %></td>
        <td><%= quality_salt_spray_opto_post_dip.dip_seconds %></td>
        <td><%= link_to 'Show', quality_salt_spray_opto_post_dip %></td>
        <td><%= link_to 'Edit', edit_quality_salt_spray_opto_post_dip_path(quality_salt_spray_opto_post_dip) %></td>
        <td><%= link_to 'Destroy', quality_salt_spray_opto_post_dip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quality Salt Spray Opto Post Dip', new_quality_salt_spray_opto_post_dip_path %>
