<p id="notice"><%= notice %></p>

<p>
  <strong>Post dip at:</strong>
  <%= @opto_post_dip.post_dip_at %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @opto_post_dip.vat %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opto_post_dip.description %>
</p>

<p>
  <strong>Shop order:</strong>
  <%= @opto_post_dip.shop_order_id %>
</p>

<p>
  <strong>Load:</strong>
  <%= @opto_post_dip.load %>
</p>

<p>
  <strong>Dip seconds:</strong>
  <%= @opto_post_dip.dip_seconds %>
</p>

<%= link_to 'Edit', edit_quality_salt_spray_opto_post_dip_path(@opto_post_dip) %> |
<%= link_to 'Back', quality_salt_spray_opto_post_dips_path %>
