
<%= simple_form_for(@result) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :type %>
    <%= f.association :device %>
    <%= f.association :calibration_type %>
    <%= f.association :user %>
    <%= f.association :reason_code %>
    <%= f.input :result_on %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
