<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @result.type %>
</p>

<p>
  <strong>Device:</strong>
  <%= @result.device_id %>
</p>

<p>
  <strong>Calibration type:</strong>
  <%= @result.calibration_type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user_id %>
</p>

<p>
  <strong>Reason code:</strong>
  <%= @result.reason_code_id %>
</p>

<p>
  <strong>Result on:</strong>
  <%= @result.result_on %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @result.discarded_at %>
</p>

<%= link_to 'Edit', edit_calibrations_result_path(@result) %> |
<%= link_to 'Back', calibrations_results_path %>
