<p id="notice"><%= notice %></p>

<h1>Quality Calibration Devices</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Location</th>
      <th>In service on</th>
      <th>Retired on</th>
      <th>Enable notifications</th>
      <th>Discarded at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |quality_calibration_device| %>
      <tr>
        <td><%= quality_calibration_device.category_id %></td>
        <td><%= quality_calibration_device.name %></td>
        <td><%= quality_calibration_device.location %></td>
        <td><%= quality_calibration_device.in_service_on %></td>
        <td><%= quality_calibration_device.retired_on %></td>
        <td><%= quality_calibration_device.enable_notifications %></td>
        <td><%= quality_calibration_device.discarded_at %></td>
        <td><%= link_to 'Show', quality_calibration_device %></td>
        <td><%= link_to 'Edit', edit_quality_calibration_device_path(quality_calibration_device) %></td>
        <td><%= link_to 'Destroy', quality_calibration_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quality Calibration Device', new_quality_calibration_device_path %>
