<p id="notice"><%= notice %></p>

<p>
  <strong>Oven type:</strong>
  <%= @groov_bake_cycle.oven_type %>
</p>

<p>
  <strong>Oven:</strong>
  <%= @groov_bake_cycle.oven %>
</p>

<p>
  <strong>Side:</strong>
  <%= @groov_bake_cycle.side %>
</p>

<p>
  <strong>Cycle started at:</strong>
  <%= @groov_bake_cycle.cycle_started_at %>
</p>

<p>
  <strong>Loading finished at:</strong>
  <%= @groov_bake_cycle.loading_finished_at %>
</p>

<p>
  <strong>Purge ended at:</strong>
  <%= @groov_bake_cycle.purge_ended_at %>
</p>

<p>
  <strong>Soak started at:</strong>
  <%= @groov_bake_cycle.soak_started_at %>
</p>

<p>
  <strong>Soak ended at:</strong>
  <%= @groov_bake_cycle.soak_ended_at %>
</p>

<p>
  <strong>Gas off at:</strong>
  <%= @groov_bake_cycle.gas_off_at %>
</p>

<p>
  <strong>Cycle ended at:</strong>
  <%= @groov_bake_cycle.cycle_ended_at %>
</p>

<p>
  <strong>Bake profile:</strong>
  <%= @groov_bake_cycle.bake_profile %>
</p>

<p>
  <strong>Setpoint:</strong>
  <%= @groov_bake_cycle.setpoint %>
</p>

<p>
  <strong>Minimum:</strong>
  <%= @groov_bake_cycle.minimum %>
</p>

<p>
  <strong>Maximum:</strong>
  <%= @groov_bake_cycle.maximum %>
</p>

<p>
  <strong>Soak length:</strong>
  <%= @groov_bake_cycle.soak_length %>
</p>

<p>
  <strong>Bakestand number:</strong>
  <%= @groov_bake_cycle.bakestand_number %>
</p>

<p>
  <strong>Rod cart number:</strong>
  <%= @groov_bake_cycle.rod_cart_number %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @groov_bake_cycle.discarded_at %>
</p>

<%= link_to 'Edit', edit_groov_bake_cycle_path(@groov_bake_cycle) %> |
<%= link_to 'Back', groov_bake_cycles_path %>
