
<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :calibration_frequency %>
    <%= f.input :instructions_url %>
    <%= f.input :two_point_low_value %>
    <%= f.input :two_point_high_value %>
    <%= f.input :calculate_offset_and_gain %>
    <%= f.input :require_offset %>
    <%= f.input :require_gain %>
    <%= f.input :enable_notifications %>
    <%= f.input :discarded_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
