<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Calibration frequency:</strong>
  <%= @category.calibration_frequency %>
</p>

<p>
  <strong>Instructions url:</strong>
  <%= @category.instructions_url %>
</p>

<p>
  <strong>Two point low value:</strong>
  <%= @category.two_point_low_value %>
</p>

<p>
  <strong>Two point high value:</strong>
  <%= @category.two_point_high_value %>
</p>

<p>
  <strong>Calculate offset and gain:</strong>
  <%= @category.calculate_offset_and_gain %>
</p>

<p>
  <strong>Require offset:</strong>
  <%= @category.require_offset %>
</p>

<p>
  <strong>Require gain:</strong>
  <%= @category.require_gain %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @category.discarded_at %>
</p>

<%= link_to 'Edit', edit_quality_calibration_category_path(@category) %> |
<%= link_to 'Back', quality_calibration_categories_path %>
