<p id="notice"><%= notice %></p>

<h1>Groov Bake Containers</h1>

<table>
  <thead>
    <tr>
      <th>Load</th>
      <th>Description</th>
      <th>Bakestand column</th>
      <th>Bakestand row</th>
      <th>Rod cart shelf</th>
      <th>Rod cart position</th>
      <th>Oven shelf</th>
      <th>Oven shelf tray position</th>
      <th>Oven shelf rod position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groov_bake_containers.each do |groov_bake_container| %>
      <tr>
        <td><%= groov_bake_container.load_id %></td>
        <td><%= groov_bake_container.description %></td>
        <td><%= groov_bake_container.bakestand_column %></td>
        <td><%= groov_bake_container.bakestand_row %></td>
        <td><%= groov_bake_container.rod_cart_shelf %></td>
        <td><%= groov_bake_container.rod_cart_position %></td>
        <td><%= groov_bake_container.oven_shelf %></td>
        <td><%= groov_bake_container.oven_shelf_tray_position %></td>
        <td><%= groov_bake_container.oven_shelf_rod_position %></td>
        <td><%= link_to 'Show', groov_bake_container %></td>
        <td><%= link_to 'Edit', edit_groov_bake_container_path(groov_bake_container) %></td>
        <td><%= link_to 'Destroy', groov_bake_container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groov Bake Container', new_groov_bake_container_path %>
