<p id="notice"><%= notice %></p>

<h1>Calibrations Devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>In service on</th>
      <th>Retired on</th>
      <th>Discarded at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |calibrations_device| %>
      <tr>
        <td><%= calibrations_device.name %></td>
        <td><%= calibrations_device.location %></td>
        <td><%= calibrations_device.in_service_on %></td>
        <td><%= calibrations_device.retired_on %></td>
        <td><%= calibrations_device.discarded_at %></td>
        <td><%= link_to 'Show', calibrations_device %></td>
        <td><%= link_to 'Edit', edit_calibrations_device_path(calibrations_device) %></td>
        <td><%= link_to 'Destroy', calibrations_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calibrations Device', new_calibrations_device_path %>
