<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @device.location %>
</p>

<p>
  <strong>In service on:</strong>
  <%= @device.in_service_on %>
</p>

<p>
  <strong>Retired on:</strong>
  <%= @device.retired_on %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @device.discarded_at %>
</p>

<%= link_to 'Edit', edit_calibrations_device_path(@device) %> |
<%= link_to 'Back', calibrations_devices_path %>
